/* Custom styles */

.sidebar-about h1 {
  font-size: 2.7rem;
}

.project-title {
  font-size: 1.6rem;
}

.page-title {
  margin-bottom: 2rem;
}

.project {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.project img {
  border: 1px solid rgba(0,0,0,.1);
  border-radius: .25rem;
}

.archive {
  padding-left: 0;
}

.archive-item {
  list-style-type: none;
  margin-bottom: 0.5rem;
}
